<li class="item"> 
	{{id}}.      {{burger_name}} 

	{{#unless devoured}}
	
		 	<button class="update btn btn-danger" data-id="{{id}}" data-devour="{{devoured}}" type="button" >Devour it!!!</button>
	{{/unless}} 


</li>